body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  margin: 2% 0%;
}

table, thead, tbody, th, td, tr {
  border: 1px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h2 {
  margin: 1% 0%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 1%;
  padding: 1%;
  border-bottom: 3px solid black;
}

.main {
  margin: 1%;
  padding: 1%;
}

.flex-container {
  display: flex;
  justify-content: left;
  margin: 1% 0%;
  padding: 1% 0%;
}

.loader {
  margin: 1% 0%;
}

.loader-hidden {
  margin: 1% 0%;
  display: none;
}

.table-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

button, .button-insert, .button-update {
  cursor: pointer;
}

/* The popup form covering 100% on top of screen centre */
.form-popout {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 1;
  overflow: scroll;
}

/* Hide the popout form undernealth and make the size 0% */
.form-popout-hidden {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: -1;
  overflow: scroll;
  opacity: 0;
}

.form-container {
  margin: 5%;
}

.label {
  font-weight: 500;
}

.input {
  width: 100%;
  margin: 1% 0% 2% 0%;
  padding: 1%;
  border: none;
  background: #f1f1f1;
}

.input:focus {
  background-color: #ddd;
  /* outline: none; */
}

.button-submit {
  width: 20%;
  margin: 2% 0%;
  padding: 1%;
  background-color: green;
  color: white;
  opacity: 0.8;
  cursor: pointer;
}

.button-cancel {
  width: 20%;
  margin: 2% 0%;
  padding: 1%;
  background-color: red;
  color: white;
  opacity: 0.8;
}

.button-submit:hover, .button-cancel:hover {
  font-weight: bold;
  opacity: 1;
}
